/*
Theme Name: Aqua Pools Child
Theme URI: http://gantry.org
Author: RocketTheme, LLC
Author URI: http://rockettheme.com
Template: g5_aquapools
Description: Child Theme for AquaPools
Version: 5.4.32
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
*/

/*custom classes*/
.width75 {
	max-width: 75rem;
    width: 100%;
}
.size-small .g-title {
	font-size: 1.8rem;
}
/* font awesome class */
.fa, .fas {
    font-family: FontAwesome;
}

/* single pool post type 
/*slider*/
.wp-block-soliloquy-soliloquywp .soliloquy-container {
    text-align: center;
    margin: 0 auto;
}
.soliloquy-container .soliloquy-prev {
	left: -47px !important;
}
.soliloquy-container .soliloquy-next {
	right: -47px !important;
}
.soliloquy-container .soliloquy-prev, .soliloquy-container .soliloquy-next {
	background-color: rgba(0, 83, 149, 0.7) !important;
	border-radius: 16px;
}
/* forms */
#contact-form .form-row {
    max-width: 960px;
    width: 100%;
}
#contact-form .form-row textarea, #contact-form .form-row input[type="text"], #contact-form .form-row input[type="email"] {
	width: 100%;
}
.form-row .grid-50 {
    width: 50%;
    float: left;
    padding: 0 15px 20px 0;
}
.form-row .grid-50:last-child {
    padding-right: 0;
}
span.wpcf7-list-item {
    display: block;
    margin: 0;
}
.wpcf7-list-item-label {
    margin-left: 10px;
}

/* home page slider */
.hero_bg_image, .hero_bg_image1 {
    opacity: .6 !important;
}
.slider_hero_btn_cls_one2 {
    border-radius: 10px !important;
}

/* prices slider */
.soliloquy-container .soliloquy-caption {
    right: 250px;
    left: auto !important;
    background: rgba(40, 168, 235, 0.85) !important;
    height: 100%;
    max-width: 750px !important;
     -webkit-clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
  clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
}
.soliloquy-container h2, .soliloquy-container h3, .soliloquy-container h4, .soliloquy-container h5, .soliloquy-container p {
	color: #fff;
}
.soliloquy-container .soliloquy-caption .price-title {
    text-align: left;
    padding-top: 10px;
    margin-left: 215px;
}
.price-title .border {
	border-bottom: 1px solid #fff;
	width: 80%;
	padding-bottom: 60px;
	margin: 0 auto 0 -10%;
	display: block;
}
.price-title .price {
    margin-top: -20px;
}
.outline-our_prices .soliloquy-caption-inside h2 {
    font-size: 1.8rem;
	margin-bottom: 80px;
	border-bottom: 1px solid #fff;
	padding-bottom: 30px;
	width: 10%;
}
.soliloquy-caption-inside .price p {
    font-weight: normal;
    margin-bottom: -10px;
}
.soliloquy-caption-inside .price p + p {
    font-size: 2.4rem;
    font-weight: 800;
    margin-bottom: 0;
}
.outline-our_prices .soliloquy-controls-direction {
    position: absolute !important;
    max-width: 750px;
    width: 100% !important;
    right: 250px;
    top: 55%;
}
.outline-our_prices .soliloquy-container .soliloquy-prev, .outline-our_prices .soliloquy-container .soliloquy-next {
	background-color: transparent !important;
}
.outline-our_prices .soliloquy-container .soliloquy-prev {
    left: 165px !important;
}	
.outline-our_prices .soliloquy-container .soliloquy-next {
    right: 155px !important;
}
