/*
Theme Name: Aqua Pools Child
Theme URI: http://gantry.org
Author: RocketTheme, LLC
Author URI: http://rockettheme.com
Template: g5_aquapools
Description: Child Theme for AquaPools
Version: 5.4.32
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
*/

/*custom classes*/
.width75 {
	width: 75rem;
}
.size-small .g-title {
	font-size: 1.8rem;
}

/* single pool post type 

/*slider*/
.wp-block-soliloquy-soliloquywp .soliloquy-container {
    text-align: center;
    margin: 0 auto;
}
.soliloquy-container .soliloquy-prev {
	left: -47px !important;
}
.soliloquy-container .soliloquy-next {
	right: -47px !important;
}
.soliloquy-container .soliloquy-prev, .soliloquy-container .soliloquy-next {
	background-color: rgba(0, 83, 149, 0.7) !important;
	border-radius: 16px;
}
/* forms */
#contact-form .form-row {
    max-width: 960px;
    width: 100%;
}
#contact-form .form-row textarea, #contact-form .form-row input[type="text"], #contact-form .form-row input[type="email"] {
	width: 100%;
}
.form-row .grid-50 {
    width: 50%;
    float: left;
    padding: 0 15px 20px 0;
}
.form-row .grid-50:last-child {
    padding-right: 0;
}
span.wpcf7-list-item {
    display: block;
    margin: 0;
}
.wpcf7-list-item-label {
    margin-left: 10px;
}

/* font awesome class */
.fa, .fas {
	font-family: FontAwesome;
}

/*main menu*/
#menu-header {
    margin: 0;
}

/* home page */
.hero_bg_image, .hero_bg_image1 {
    opacity: .6 !important;
}
.slider_hero_btn_cls_one2 {
    border-radius: 10px !important;
}
#g-mainsection-2 .g-block.size-100.center.full-width .g-content {
	margin: 0 auto !important;
	max-width: 100%;
	padding: 0;
	display: inline-block;
}
#g-mainsection-2 .g-block.size-100.center.full-width .g-content .alignleft.widget {
    margin: 0 !important;
	padding-left: 54px;
}
.img_page_widget {
    margin-top: 40%;
}
.img_page_widget .button {
	background-color: #28bceb;
}

/* footer 

/*social links*/
.fa_contact_slinks_widget h5 {
	margin: 0.25rem 0 0;
}
.fa_contact_slinks_widget .contactdetail div {
	margin: 0.75rem 0 1.5rem 0;
}
.phone, .address, .email {
    display: inline-block;
}
#g-footer .fa_contact_slinks_widget h5 {
	color: #fff;
}
#g-footer .g-container .contactdetail i, #g-container-main .g-container .contactdetail i {
 	border: 2px solid #fff;
	border-radius: 50%;
	width: 34px;
	height: auto;
	margin: 0 10px 5px 0;
	padding: 5px;
	text-align: center;
	display: block;
	font-style: normal;
	font-weight: normal;
	float: left;
}
#g-container-main .g-container .contactdetail i {
	border: 2px solid #005395;
	color: #005395;
}
