/*
Theme Name: Aqua Pools Child
Theme URI: http://gantry.org
Author: RocketTheme, LLC
Author URI: http://rockettheme.com
Template: g5_aquapools
Description: Child Theme for AquaPools
Version: 5.4.32
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
*/

/*custom classes*/
.width75 {
	width: 75rem;
}

/* font awesome class */
.fa, .fas {
	font-family: FontAwesome;
}

/*main menu*/
#menu-header {
    margin: 0;
}

/* home page */
.hero_bg_image, .hero_bg_image1 {
    opacity: .6 !important;
}
.slider_hero_btn_cls_one2 {
    border-radius: 10px !important;
}
#g-mainsection-2 .g-block.size-100.center.full-width .g-content {
	margin: 0 auto !important;
	max-width: 100%;
	padding: 0;
	display: inline-block;
}
#g-mainsection-2 .g-block.size-100.center.full-width .g-content .alignleft.widget {
    margin: 0 !important;
	padding-left: 54px;
}
.img_page_widget {
    margin-top: 50%;
}
.img_page_widget .button {
	background-color: #28bceb;
}

/* footer 

/*social links*/
#g-footer .g-container .contactdetail i {
 	border: 2px solid #fff;
	border-radius: 50%;
	width: 34px;
	height: auto;
	margin: 0 5px 5px 0;
	padding: 5px;
	text-align: center;
	display: inline-block;
	font-style: normal;
	font-weight: normal;
}