.page, .single {
	#g-header {
		border-bottom: 3px solid $base-header-color;
	}
}
#g-header {
	background: $header-background;
	margin: 15px auto 0;
	color: $header-text-color;
	position: relative;
	z-index: 3;
	.g-container {
		padding-bottom: 5px;
	}
	a {
		color: lighten($header-background, 40%);
		&:hover {
			color: $header-hover;
		}
	}
	.search-field {
    	display: none;
	}
	.search-submit.button {
	    color: $base-header-color;
	    background-color: transparent;
	    border: none;
	    box-shadow: none;
	    font-size: $core-font-size + .8rem;
	    padding-top: 0;
	}

	.g-main-nav {

		@include main-nav-colors($header-background, $header-text-color, $main-background, $main-text-color);

		.g-toplevel {
			@include display(flex);
			@include flex-flow(row wrap);
		}
	}

	@include main-nav-indicators($header-background, $header-text-color);

	.search {
		input {
			color: $main-text-color;
		}
	}
}

@media print {
	#g-header {
		background: #fff !important;
		color: #000 !important;
	}
}