.page, .single {
	#g-header {
		border-bottom: 3px solid $base-header-color;
	}
}
#menu-header {
    margin: 0;
}
#g-header {
	background: $header-background;
	margin: 15px auto 0;
	color: $header-text-color;
	position: relative;
	z-index: 3;
	.g-container {
		padding-bottom: 15px;
	}
	a {
		color: lighten($header-background, 40%);
		&:hover {
			color: $header-hover;
		}
	}
	.search-field {
    	display: none;
	}
	.search-submit {
	    color: $base-header-color;
	    background-color: transparent;
	    border: none;
	    box-shadow: none;
	    font-size: $core-font-size + .8rem;
	    padding-top: 0;
	    margin-top: -5px !important;
	}

	.g-main-nav {

		@include main-nav-colors($header-background, $header-text-color, $main-background, $main-text-color);

		.g-toplevel {
			@include display(flex);
			@include flex-flow(row wrap);
		}
	}

	@include main-nav-indicators($header-background, $header-text-color);

	.search {
		input {
			color: $main-text-color;
		}
	}
}
#g-mobilemenu-container{
	.search-field {
    	display: none;
	}
}
@media only all and (max-width: $breakpoints-desktop-container) {
	#g-header {
		.button a {
			font-size: .8rem;
		}
		.g-main-nav .g-toplevel > li {
			padding: 0;
		}
	}
}
@media only all and (max-width: $breakpoints-tablet-container) {
	#g-header {
		position: static;
		.logo div.g-particle {
			text-align: center;
			margin: 50px 0 15px;
		}
		.g-container {
			width: 100%;
			.g-main-nav {
			    position: absolute;
			    top: 0;
			    left: 0.2rem;
			}
			#nav_menu-2 {
			    position: absolute;
			    top: 0.7rem;
			    right: 0.7rem;
			}	
		}
	}
}

@media only all and (max-width: 800px) {
	#g-header {
		.g-container {
			width: 85%;
			.g-main-nav {
			    display:none;
			}			
		}
	}
}

@media print {
	#g-header {
		background: #fff !important;
		color: #000 !important;
	}
}