// Font Import
@include import-font($base-body-font);
@include import-font($base-text-font);
@include import-font($base-heading-font);

.g-content {
	margin: 0;
	padding:0;
}

body {
	font-family: get-font-family($base-body-font);
	font-weight: $font-weight-regular;
}

h1, h2 {
	font-family: get-font-family($base-heading-font);
	font-weight: $font-weight-bold;
}

h3, h4, h5, h6 {
	color: darken($main-text-color, 10%);
	font-family: get-font-family($base-text-font);
	font-weight: font-weight-semibold;
}

bold, strong {
	font-weight: $font-weight-bold;
}

.button {
	font-weight: $font-weight-medium;
}

// Blockquote
blockquote {
	border-left: 10px solid $rule-color;
	p {
		font-size: $core-font-size + 0.1;
		color: lighten($base-text-color, 20%);
	}
	cite {
		display: block;
		text-align: right;
		color: $base-text-color;
		font-size: $core-font-size + 0.2;
	}
}

// Inline and Code
code {
	background: $code-bg;
	color: darken($code-text,10%);
}

pre {
	padding: 1rem;
	margin: 2rem 0;
	background: $pre-bg;
	border: 1px solid $base-border-color;
	border-radius: $core-border-radius;
	line-height: 1.15;
	font-size: $core-font-size - 0.1;

	code {
		color: $pre-text;
		background: inherit;
		font-size: $core-font-size - 0.1;
	}
}

// Additional
hr {
	border-bottom: 1px solid $rule-color;
}
.home hr, .page hr, .single hr {
    width: 50px;	
    margin: 0 auto;
    position: relative;
}
.home hr::before, .page hr::before, .single hr::before  {
   	content: "V";
	position: absolute;
	font-size: 10px;
	top: -4px;
	background-color: $white;
	font-weight: 700;
	color: $rule-color;
	left: 45%;
}

